# Import files

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import sklearn as sklearn
import pandas as pd

In [3]:
# Showing matplotlib plots in jupyter notebook
%matplotlib inline

# Read Data

In [35]:
# Getting Training dataset ( Variant #1 )
# Importing data as Dataframe
df = pd.read_csv('../Dataset/Dataset/Training/Features_Variant_1.csv',sep=',', header=None)

# Importing data as numpy array 
arr = np.genfromtxt('../Dataset/Dataset/Training/Features_Variant_1.csv', delimiter=",")

# Dataset preprocessing

In [26]:
# Getting first 5 training data in dataset
df.head(5)

,0,1,2,3,4,5,6,7,8,9,...,44,45,46,47,48,49,50,51,52,53
0,634995,0,463,1,0.0,806.0,11.291045,1.0,70.495138,0.0,...,0,0,0,0,0,0,0,0,1,0
1,634995,0,463,1,0.0,806.0,11.291045,1.0,70.495138,0.0,...,0,0,0,0,0,0,0,1,0,0
2,634995,0,463,1,0.0,806.0,11.291045,1.0,70.495138,0.0,...,1,0,0,0,0,0,0,0,1,0
3,634995,0,463,1,0.0,806.0,11.291045,1.0,70.495138,0.0,...,1,0,0,1,0,0,0,0,0,0
4,634995,0,463,1,0.0,806.0,11.291045,1.0,70.495138,0.0,...,0,0,0,0,0,1,0,0,0,0

In [27]:
# example of numpy "arr" numpy array
arr[0]

array([  6.34995000e+05,   0.00000000e+00,   4.63000000e+02,
         1.00000000e+00,   0.00000000e+00,   8.06000000e+02,
         1.12910448e+01,   1.00000000e+00,   7.04951385e+01,
         0.00000000e+00,   8.06000000e+02,   7.57462687e+00,
         0.00000000e+00,   6.94358264e+01,   0.00000000e+00,
         7.60000000e+01,   2.60447761e+00,   0.00000000e+00,
         8.50550187e+00,   0.00000000e+00,   8.06000000e+02,
         1.06492537e+01,   1.00000000e+00,   7.02547876e+01,
        -6.90000000e+01,   8.06000000e+02,   4.97014925e+00,
         0.00000000e+00,   6.98505804e+01,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   6.50000000e+01,   1.66000000e+02,
         2.00000000e+00,   0.00000000e+00,   2.40000000e+01,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         1.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   1.00000000e+00,   0.00000000e+00])

In [39]:
# Disovering more information about dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40949 entries, 0 to 40948
Data columns (total 54 columns):
0     40949 non-null int64
1     40949 non-null int64
2     40949 non-null int64
3     40949 non-null int64
4     40949 non-null float64
5     40949 non-null float64
6     40949 non-null float64
7     40949 non-null float64
8     40949 non-null float64
9     40949 non-null float64
10    40949 non-null float64
11    40949 non-null float64
12    40949 non-null float64
13    40949 non-null float64
14    40949 non-null float64
15    40949 non-null float64
16    40949 non-null float64
17    40949 non-null float64
18    40949 non-null float64
19    40949 non-null float64
20    40949 non-null float64
21    40949 non-null float64
22    40949 non-null float64
23    40949 non-null float64
24    40949 non-null float64
25    40949 non-null float64
26    40949 non-null float64
27    40949 non-null float64
28    40949 non-null float64
29    40949 non-null int64
30    40949 non-null int64
31    40949 non-null int64
32    40949 non-null int64
33    40949 non-null int64
34    40949 non-null int64
35    40949 non-null int64
36    40949 non-null int64
37    40949 non-null int64
38    40949 non-null int64
39    40949 non-null int64
40    40949 non-null int64
41    40949 non-null int64
42    40949 non-null int64
43    40949 non-null int64
44    40949 non-null int64
45    40949 non-null int64
46    40949 non-null int64
47    40949 non-null int64
48    40949 non-null int64
49    40949 non-null int64
50    40949 non-null int64
51    40949 non-null int64
52    40949 non-null int64
53    40949 non-null int64
dtypes: float64(25), int64(29)
memory usage: 16.9 MB

In [43]:
# Plotting Data
# Getting unique values of Coulmn 39
# Getting Better intituion about target column
# Plotting Histogram, ...

In [47]:
# Getting unique values of "H Local" Feature
np.unique(arr[:,38])

array([  1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.,  11.,
        12.,  13.,  14.,  15.,  16.,  17.,  18.,  19.,  20.,  21.,  22.,
        23.,  24.])

In [ ]:
# Plot "Number Of likes" vs "Target" Features
sns.pairplot(df)